# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/Destructo/Debug/*.exe
/Destructo/Debug/*.out
/Destructo/Debug/*.app
#/Destructo/Debug
/Destructo/Release
Debug

# Visual Studio Files
/.vs
/.vscode